*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, button, textarea, select {
  font: inherit;
}

ol, ul {
  list-style: none;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; /* Improve text rendering */
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  
  background-image: url('./images/pizza-plate-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header > nav {
  display: flex;
  gap: 20px;
  justify-content: center; 
  background-color: rgba(0, 0, 0, 0.50);
  padding: 10px 0;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}

#content {
  margin: auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.260);
  padding: 15px;
  border-radius: 8px;
}

#our-motto > footer {
  display: flex;
  justify-content: end;
  font-style: italic;
  font-size: 0.9rem;
}