*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

ol,
ul {
  list-style: none;
}

body {
  line-height: 1.5;
  /* Improve text rendering */
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}

header>nav {
  display: flex;
  gap: 20px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.50);
  padding: 10px 0;
}

/* Home */

.home-active {
  background-image: url('./images/pizza-plate-bg.jpg');

  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-active #content {
  margin: auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.260);
  padding: 15px;
  border-radius: 8px;
}

.home-active #our-motto>footer {
  display: flex;
  justify-content: end;
  font-style: italic;
  font-size: 0.9rem;
}

/* Menu */

.menu-active #menu-content {
  padding: 5px 10px;
}

.menu-active h1 {
  text-align: center;
}

.menu-active h2 {
  margin: 10px 0px;
}

.menu-active .menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 500px), 1fr));
  gap: 10px;
  padding: 10px;
}

.menu-active .menu .menu-item {
  display: flex;
  gap: 20px;
  margin: 0 10px;
  background-color: rgba(201, 201, 201, 0.3);
  border-radius: 8px;
  padding: 10px;
}

.menu-active .menu-item .info-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.menu-active .menu-item .item-img {
  max-width: 200px;
  height: 200px;
  border-radius: 8px;
}